.skills-section {
  padding: 50px 150px; 
  background-color: #f9f9f9;

  h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: clamp(1.5rem, 2.5rem + 0.5rem, 2rem);
    margin-bottom: 40px;
    color: #333;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Nunito Sans", sans-serif;
  }

  .skills-category {
    h3 {
      font-size: clamp(1.125rem, 3vw, 1.75rem);
      color: #444;
      margin-bottom: 20px;
    }

    .skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .skill-item {
      flex: 1 1 calc(50% - 20px);
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .skill-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        span {
          font-size: clamp(0.875rem, 2vw, 1rem);
          color: #333;
        }
      }

      .skill-bar {
        background-color: #eee;
        border-radius: 4px;
        height: 10px;
        overflow: hidden;

        .skill-progress {
          background-color: grey;
          height: 100%;
          transition: width 0.3s ease-in-out;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 30px 50px;

    h2 {
      font-size: clamp(1.5rem, 2.5rem, 3rem);
    }

    .skills-category {
      h3 {
        font-size: clamp(1.2rem, 2.2rem, 2.8rem);
      }

      .skill-item {
        .skill-info {
          span {
            font-size: clamp(1rem, 1.5rem + 0.25rem, 1.125rem);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 30px 30px;

    h2 {
      font-size: clamp(1.8rem, 2rem, 2rem);
    }

    .skills-category {
      .skills-list {
        flex-direction: column;
      }

      .skill-item {
        flex: 1 1 100%;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 20px 20px;

    h2 {
      font-size: clamp(1rem, 1.5rem, 1.75rem);
    }

    .skills-category {
      h3 {
        font-size: clamp(0.875rem, 1rem, 1rem);
      }

      .skill-item {
        .skill-info {
          span {
              font-size: clamp(0.875rem, 1rem, 1rem);
          }
        }
      }
    }
  }
}
